<div class="row">
  <div class="col-lg-4">
  </div>
  <div class="col-lg-8">
    <h1>Welcome!</h1>
    <% if current_user %>
      <p><%= link_to "Hello, #{current_user.screen_name}", profile_path %></p>
      <p><%= link_to 'View your profile', profile_path(github_user: current_user.screen_name) %></p>
    <% else %>
      <%= link_to 'Sign in with GitHub', github_login_path %>
    <% end %>
  </div>
</div>
