<h1>Welcome!</h1>
<% if current_user %>
  <%= link_to "Hello, #{current_user.screen_name}", profile_path %>
  <%= link_to 'Log out', logout_path, method: :delete %>
<% else %>
  <%= link_to 'Sign in with GitHub', github_login_path %>
<% end %>
