<div class="row">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-4">
    <%= render partial: 'layouts/profile_info' %>
  </div>

  <div class="col-lg-6">
    <div class="card text-center">
      <%= render partial: 'layouts/inner_nav'%>

      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
  </div>
</div>
