---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/jamesrnelson
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4939'
      X-Ratelimit-Reset:
      - '1526046989'
      Etag:
      - W/"ce773c72ff1a7a1cb224e360ad461383"
      Last-Modified:
      - Fri, 11 May 2018 11:36:09 GMT
      X-Oauth-Scopes:
      - notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"jamesrnelson","id":34174321,"avatar_url":"https://avatars1.githubusercontent.com/u/34174321?v=4","gravatar_id":"","url":"https://api.github.com/users/jamesrnelson","html_url":"https://github.com/jamesrnelson","followers_url":"https://api.github.com/users/jamesrnelson/followers","following_url":"https://api.github.com/users/jamesrnelson/following{/other_user}","gists_url":"https://api.github.com/users/jamesrnelson/gists{/gist_id}","starred_url":"https://api.github.com/users/jamesrnelson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jamesrnelson/subscriptions","organizations_url":"https://api.github.com/users/jamesrnelson/orgs","repos_url":"https://api.github.com/users/jamesrnelson/repos","events_url":"https://api.github.com/users/jamesrnelson/events{/privacy}","received_events_url":"https://api.github.com/users/jamesrnelson/received_events","type":"User","site_admin":false,"name":"James
        Nelson","company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"public_repos":48,"public_gists":10,"followers":4,"following":17,"created_at":"2017-12-01T22:48:41Z","updated_at":"2018-05-11T11:36:09Z","private_gists":6,"total_private_repos":0,"owned_private_repos":0,"disk_usage":3992,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Fri, 11 May 2018 13:27:42 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/users/jamesrnelson/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4934'
      X-Ratelimit-Reset:
      - '1526046989'
      Etag:
      - W/"4e16cde860e9be9353d6f7388863300c"
      X-Oauth-Scopes:
      - notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":132659692,"name":"apicurious","full_name":"jamesrnelson/apicurious","owner":{"login":"jamesrnelson","id":34174321,"avatar_url":"https://avatars1.githubusercontent.com/u/34174321?v=4","gravatar_id":"","url":"https://api.github.com/users/jamesrnelson","html_url":"https://github.com/jamesrnelson","followers_url":"https://api.github.com/users/jamesrnelson/followers","following_url":"https://api.github.com/users/jamesrnelson/following{/other_user}","gists_url":"https://api.github.com/users/jamesrnelson/gists{/gist_id}","starred_url":"https://api.github.com/users/jamesrnelson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jamesrnelson/subscriptions","organizations_url":"https://api.github.com/users/jamesrnelson/orgs","repos_url":"https://api.github.com/users/jamesrnelson/repos","events_url":"https://api.github.com/users/jamesrnelson/events{/privacy}","received_events_url":"https://api.github.com/users/jamesrnelson/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/jamesrnelson/apicurious","description":null,"fork":false,"url":"https://api.github.com/repos/jamesrnelson/apicurious","forks_url":"https://api.github.com/repos/jamesrnelson/apicurious/forks","keys_url":"https://api.github.com/repos/jamesrnelson/apicurious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jamesrnelson/apicurious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jamesrnelson/apicurious/teams","hooks_url":"https://api.github.com/repos/jamesrnelson/apicurious/hooks","issue_events_url":"https://api.github.com/repos/jamesrnelson/apicurious/issues/events{/number}","events_url":"https://api.github.com/repos/jamesrnelson/apicurious/events","assignees_url":"https://api.github.com/repos/jamesrnelson/apicurious/assignees{/user}","branches_url":"https://api.github.com/repos/jamesrnelson/apicurious/branches{/branch}","tags_url":"https://api.github.com/repos/jamesrnelson/apicurious/tags","blobs_url":"https://api.github.com/repos/jamesrnelson/apicurious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jamesrnelson/apicurious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jamesrnelson/apicurious/git/refs{/sha}","trees_url":"https://api.github.com/repos/jamesrnelson/apicurious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jamesrnelson/apicurious/statuses/{sha}","languages_url":"https://api.github.com/repos/jamesrnelson/apicurious/languages","stargazers_url":"https://api.github.com/repos/jamesrnelson/apicurious/stargazers","contributors_url":"https://api.github.com/repos/jamesrnelson/apicurious/contributors","subscribers_url":"https://api.github.com/repos/jamesrnelson/apicurious/subscribers","subscription_url":"https://api.github.com/repos/jamesrnelson/apicurious/subscription","commits_url":"https://api.github.com/repos/jamesrnelson/apicurious/commits{/sha}","git_commits_url":"https://api.github.com/repos/jamesrnelson/apicurious/git/commits{/sha}","comments_url":"https://api.github.com/repos/jamesrnelson/apicurious/comments{/number}","issue_comment_url":"https://api.github.com/repos/jamesrnelson/apicurious/issues/comments{/number}","contents_url":"https://api.github.com/repos/jamesrnelson/apicurious/contents/{+path}","compare_url":"https://api.github.com/repos/jamesrnelson/apicurious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jamesrnelson/apicurious/merges","archive_url":"https://api.github.com/repos/jamesrnelson/apicurious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jamesrnelson/apicurious/downloads","issues_url":"https://api.github.com/repos/jamesrnelson/apicurious/issues{/number}","pulls_url":"https://api.github.com/repos/jamesrnelson/apicurious/pulls{/number}","milestones_url":"https://api.github.com/repos/jamesrnelson/apicurious/milestones{/number}","notifications_url":"https://api.github.com/repos/jamesrnelson/apicurious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jamesrnelson/apicurious/labels{/name}","releases_url":"https://api.github.com/repos/jamesrnelson/apicurious/releases{/id}","deployments_url":"https://api.github.com/repos/jamesrnelson/apicurious/deployments","created_at":"2018-05-08T20:13:13Z","updated_at":"2018-05-11T11:41:48Z","pushed_at":"2018-05-11T11:41:46Z","git_url":"git://github.com/jamesrnelson/apicurious.git","ssh_url":"git@github.com:jamesrnelson/apicurious.git","clone_url":"https://github.com/jamesrnelson/apicurious.git","svn_url":"https://github.com/jamesrnelson/apicurious","homepage":null,"size":339,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}}]'
  recorded_at: Fri, 11 May 2018 13:27:44 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/users/jamesrnelson/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB OAUTH TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4931'
      X-Ratelimit-Reset:
      - '1526046989'
      Etag:
      - W/"643a88fc642ea8d809209169312de3b4"
      X-Oauth-Scopes:
      - notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/34174321/repos?page=2>; rel="next", <https://api.github.com/user/34174321/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":127674544,"name":"2win_playlist","full_name":"jamesrnelson/2win_playlist","owner":{"login":"jamesrnelson","id":34174321,"avatar_url":"https://avatars1.githubusercontent.com/u/34174321?v=4","gravatar_id":"","url":"https://api.github.com/users/jamesrnelson","html_url":"https://github.com/jamesrne[...]
