---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/joeschmoe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '41'
      X-Ratelimit-Reset:
      - '1525973081'
      Etag:
      - W/"c51aa2875eed07af8c1d876d6029db57"
      Last-Modified:
      - Fri, 14 Nov 2014 20:22:53 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"joeschmoe","id":459308,"avatar_url":"https://avatars1.githubusercontent.com/u/459308?v=4","gravatar_id":"","url":"https://api.github.com/users/joeschmoe","html_url":"https://github.com/joeschmoe","followers_url":"https://api.github.com/users/joeschmoe/followers","following_url":"https://api.github.com/users/joeschmoe/following{/other_user}","gists_url":"https://api.github.com/users/joeschmoe/gists{/gist_id}","starred_url":"https://api.github.com/users/joeschmoe/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joeschmoe/subscriptions","organizations_url":"https://api.github.com/users/joeschmoe/orgs","repos_url":"https://api.github.com/users/joeschmoe/repos","events_url":"https://api.github.com/users/joeschmoe/events{/privacy}","received_events_url":"https://api.github.com/users/joeschmoe/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2010-10-29T10:15:32Z","updated_at":"2014-11-14T20:22:53Z"}'
  recorded_at: Thu, 10 May 2018 16:54:27 GMT
- request:
    method: get
    uri: https://api.github.com/users/joeschmoe/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - github_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '40'
      X-Ratelimit-Reset:
      - '1525973081'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 10 May 2018 16:54:28 GMT
recorded_with: VCR 4.0.0
